:root {
    --blue: #8b46cc;
    --background: #ffffffd0;
    --background-section: #ffffff38;
    --text: #333;
    --text-light: #666;
    --text-dark: #000;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--background);
    background-image: url(./media/black-linen.png);
}
.hero{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.hero .continer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 2rem;
    background-color: var(--background-section);
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 2rem;
}

.continer .main{
    display: grid;
    place-items: center;
    align-content: center;

}

.continer .main h1{
    font-size: 3.5rem;
    color: var(--text);
    margin-bottom: 20px;
}
.continer .main span{
    color: var(--blue);
    margin-bottom: 20px;
}
.continer .main p{
    font-size: 1.2rem;
    color: var(--text-light);
    margin-bottom: 20px;
}
.continer .main a{
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--background);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.continer .main a:hover{
    background-color: #1e90ff;
}
.continer .main-img{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.continer .main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.continer .main-img img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px){
    .hero .continer{
        grid-template-columns: 1fr;
        width: 90%;
        height: 90%;
    }
    .continer .main{
        text-align: center;
    }
    .continer .main h1{
        font-size: 2.5rem;
    }
    .continer .main p{
        font-size: 1rem;
    }
    .continer .main a{
        padding: 10px 15px;
    }
}


